@model GenreViewModel


<h2>Create New Genre</h2>

<hr />
<br />
<br />


<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" placeholder="Enter Name">
        <span class="bg bg-danger" style="color:white" asp-validation-for="Name"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary form-control">Add</button>
</form>




@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}