
<link rel="stylesheet" href="~/css/MoviePage.css">
<header class="showcase">
    @*    <div class="showcase-top" data-aos="fade-down">
    <img src="https://i.ibb.co/r5krrdz/logo.png" alt="" />
    <a href="#" class="btn btn-rounded">Sign In</a>
    </div>*@
    <div class="showcase-content" data-aos="fade-right">
        <h1>See what's next</h1>
        <p>Watch anywhere.</p>
        <a href="#" class="btn btn-xl">We wish you a good watch of the Movie<i class="fas fa-chevron-right btn-icon"></i></a>
    </div>
</header>


<center class="rights">
    <p>All Right Reserved 2021 Email : Demo.IMDB Project</p>
</center>
<script src="~/js/JSMoviePage.js"></script>