

<h2 class="bg bg-success" style="color:white; padding:15px">Your Profile Updated Successfully Please Login Agin....</h2>

<hr />
<br />

<a class="btn btn-primary form-control" asp-action="Login">
    Login
</a>


